<table class="ui red striped selectable celled table">
  <thead>
    <tr>
      <th class="collapsing">#</th>
      <!-- <th class="collapsing">&nbsp;</th> -->
      <th>Názov</th>
      <th>Vedúci</th>
      <th>
        <div class="ui right floated small red right labeled icon button" (click)="add('zaujmovy-utvar')">
          <i class="right list icon"></i>
          Pridať
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4" class="center aligned text" *ngIf="zaujmoveUtvary?.length == 0">Žiadne záujmové útvary</td>
    </tr>
    <tr *ngFor="let zaujmovyUtvar of zaujmoveUtvary; let i = index" [attr.data-index]="i" class="table-light">
      <td class="collapsing">{{ (i + 1) }}</td>
      <!--td><i class="fa fa-{{ zaujmovyUtvar.ikona ? zaujmovyUtvar.ikona : 'star-o' }}"></i></td-->
      <td>{{ zaujmovyUtvar.nazov }}</td>
      <td>{{ zaujmovyUtvar.veduci.celeMeno }}</td>
      <td class="center aligned collapsing">
        <div class="ui icon buttons">
          <button class="ui red icon button" (click)="edit('zaujmovy-utvar', zaujmovyUtvar.id)"><i class="pencil icon"></i></button>
          <button class="ui red icon button" (click)="delete(zaujmovyUtvar.id)"><i class="trash icon"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <th colspan="3">
      Počet: {{ zaujmoveUtvary?.length }}
    </th>
    <th>
      <div class="ui right floated small red right labeled icon button" (click)="add('zaujmovy-utvar')">
        <i class="right list icon"></i>
        Pridať
      </div>
    </th>
  </tfoot>
</table>