<div class="container-fluid">

  <p class="sekcia mb-4">
    <span class="badge badge-danger">Z</span>áujmové &nbsp; <span class="badge badge-danger">Ú</span>tvary
    <!--span class="badge badge-danger">t</span><span class="badge badge-danger">v</span><span class="badge badge-danger">a</span><span class="badge badge-danger">r</span><span class="badge badge-danger">y</span-->
    <a class="float-right" routerLinkActive="active" routerLink="/menu"><i class="fa fa-bars"></i></a>
  </p>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <!--th scope="col">&nbsp;</th-->
        <th scope="col">Názov</th>
        <th scope="col">Vedúci</th>
        <th scope="col" class="text-right">
          <button type="button" class="btn btn-outline" (click)="add()"><i class="fa fa-plus"></i></button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let zaujmovyUtvar of zaujmoveUtvary$ | async; let i = index" [attr.data-index]="i" class="table-light">
        <th scope="row" class="index">{{ (i + 1) }}</th>
        <!--td><i class="fa fa-{{ zaujmovyUtvar.ikona ? zaujmovyUtvar.ikona : 'star-o' }}"></i></td-->
        <td>{{ zaujmovyUtvar.nazov }}</td>
        <td>{{ zaujmovyUtvar.veduci }}</td>
        <td class="text-right">
          <button type="button" class="btn btn-outline-success mr-1" (click)="edit(zaujmovyUtvar.id)"><i class="fa fa-pencil"></i></button>
          <button type="button" class="btn btn-outline-danger" (click)="delete(zaujmovyUtvar.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

</div>