<div class="ui text container">
  <div class="ui attached message">
    <!-- <i class="building icon"></i> -->
  </div>
  <form [formGroup]="formular" (ngSubmit)="submit()" class="ui blue form attached fluid segment">
  <!-- [class]="formular.pristine ? 'ui form' : (formular.valid ? 'ui form success' : 'ui form error')"> -->
    <input type="hidden" formControlName="id" />
    <div class="field">
      <label>Názov</label>
      <div class="ui corner labeled input">
        <input type="text" id="nazov" formControlName="nazov" minlength="3" placeholder="Názov" />
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
      <!-- <div class="ui pointing red basic label" *ngIf="submitnuty && f.nazov.errors">
        <ng-container *ngIf="f.nazov.errors.required">Názov musí byť zadaný.</ng-container>
        <ng-container *ngIf="f.nazov.touched && f.nazov.errors.minlength">Názov musí obsahovať minimálne 3 znaky.</ng-container>
        <ng-container *ngIf="formular.errors && formular.errors.duplicate">Zadaný názov už existuje.</ng-container>
      </div> -->
    </div>
    <!-- <div class="ui success message">
      <div>Miesto <ng-container *ngIf="!f.id.value">&quot;{{ nazov }}&quot;</ng-container>
        úspešne <ng-container *ngIf="!f.id.value">pridané</ng-container>
        <ng-container *ngIf="f.id.value">upravené</ng-container>.
      </div>
    </div> -->
    <button class="ui blue button" type="submit" [disabled]="loading">
      <ng-container *ngIf="!f.id.value">Pridať</ng-container>
      <ng-container *ngIf="f.id.value">Upraviť</ng-container>
    </button>
    <button class="ui button" type="button" (click)="goBack()">
      Späť
    </button>
  </form>
  <div class="ui bottom attached error icon message" *ngIf="submitnuty && formular.invalid">
    <i class="exclamation icon"></i>
    <div class="content">
      <ul class="list">
        <li *ngIf="f.nazov.errors && f.nazov.errors.required">Názov musí byť zadaný.</li>
        <li *ngIf="f.nazov.errors && f.nazov.touched && f.nazov.errors.minlength">Názov musí obsahovať minimálne 3 znaky.</li>
        <li *ngIf="formular.errors && formular.errors.duplicate">Zadaný názov už existuje.</li>
      </ul>
    </div>
  </div>
</div>
