<div class="ui four column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="center aligned content">
        <div class="green header">
          <h3 class="ui green header">Účastníci</h3>
        </div>
        <div class="center aligned description">
          <i class="green users massive icon"></i>
        </div>
      </div>
      <div class="ui animated bottom attached green button" (click)="goTo('ucastnici')" *ngIf="!loading && !error">
        <div class="visible content">
          <i class="right arrow icon"></i>
        </div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
      <div class="ui bottom attached green button" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui green bottom attached loading button" *ngIf="loading">
        Nahrávam
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="center aligned content">
        <div class="red header">
          <h3 class="ui red header">Záujmové útvary</h3>
        </div>
        <div class="center aligned description">
          <i class="red list massive icon"></i>
        </div>
      </div>
      <div class="ui animated bottom attached red button" (click)="goTo('zaujmove-utvary')" *ngIf="!loading && !error">
        <div class="visible content">
          <i class="right arrow icon"></i>
        </div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
      <div class="ui bottom attached red button" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui red bottom attached loading button" *ngIf="loading">
        Nahrávam
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="center aligned content">
        <div class="yellow header">
          <h3 class="ui yellow header">Vedúci</h3>
        </div>
        <div class="center aligned description">
          <i class="yellow graduation cap massive icon"></i>
        </div>
      </div>
      <div class="ui animated bottom attached yellow button" (click)="goTo('veduci')" *ngIf="!loading && !error">
        <div class="visible content">
          <i class="right arrow icon"></i>
        </div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
      <div class="ui bottom attached yellow button" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui yellow bottom attached loading button" *ngIf="loading">
        Nahrávam
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="center aligned content">
        <div class="blue header">
          <h3 class="ui blue header">Miesta</h3>
        </div>
        <div class="center aligned description">
          <i class="blue building massive icon"></i>
        </div>
      </div>
      <div class="ui animated bottom attached blue button" (click)="goTo('miesta')" *ngIf="!loading && !error">
        <div class="visible content">
          <i class="right arrow icon"></i>
        </div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
      <div class="ui bottom attached blue button" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui blue bottom attached loading button" *ngIf="loading">
        Nahrávam
      </div>
    </div>
  </div>
</div>
