<div class="ui four column grid">
  <div class="column">
    <div class="ui fluid link card" (click)="goTo('ucastnici')">
      <div class="center aligned content">
        <div class="green header">
          <h3 class="ui green header">Účastníci</h3>
        </div>
        <div class="center aligned description">
          <i class="green users massive icon"></i>
        </div>
      </div>
      <!-- <div class="ui bottom attached green center aligned message" *ngIf="!loading && !error">
        <i class="right arrow icon"></i>
      </div>
      <div class="ui bottom attached green center aligned message" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui green bottom attached center aligned message" *ngIf="loading">
        Nahrávam...
      </div> -->
      <!-- <div class="ui animated bottom attached green button" *ngIf="!loading && !error">
        <div class="visible content">
          <i class="right arrow icon"></i>
        </div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
      <div class="ui bottom attached green button" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui green bottom attached loading button" *ngIf="loading">
        Nahrávam
      </div> -->
    </div>
  </div>

  <div class="column">
    <div class="ui fluid link card" (click)="goTo('zaujmove-utvary')">
      <div class="center aligned content">
        <div class="red header">
          <h3 class="ui red header">Záujmové útvary</h3>
        </div>
        <div class="center aligned description">
          <i class="red smile outline massive icon"></i>
        </div>
      </div>
      <!-- <div class="ui bottom attached red center aligned message" *ngIf="!loading && !error">
        <i class="right arrow icon"></i>
      </div>
      <div class="ui bottom attached red center aligned message" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui red bottom attached center aligned message" *ngIf="loading">
        Nahrávam...
      </div> -->
      <!-- <div class="ui animated bottom attached red button" *ngIf="!loading && !error">
        <div class="visible content">
          <i class="right arrow icon"></i>
        </div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
      <div class="ui bottom attached red button" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui red bottom attached loading button" *ngIf="loading">
        Nahrávam
      </div> -->
    </div>
  </div>

  <div class="column">
    <div class="ui fluid link card" (click)="goTo('veduci')">
      <div class="center aligned content">
        <div class="yellow header">
          <h3 class="ui yellow header">Vedúci</h3>
        </div>
        <div class="center aligned description">
          <i class="yellow graduation cap massive icon"></i>
        </div>
      </div>
      <!-- <div class="ui bottom attached yellow center aligned message" *ngIf="!loading && !error">
        <i class="right arrow icon"></i>
      </div>
      <div class="ui bottom attached yellow center aligned message" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui yellow bottom attached center aligned message" *ngIf="loading">
        Nahrávam...
      </div> -->
      <!-- <div class="ui animated bottom attached yellow button" *ngIf="!loading && !error">
        <div class="visible content">
          <i class="right arrow icon"></i>
        </div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
      <div class="ui bottom attached yellow button" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui yellow bottom attached loading button" *ngIf="loading">
        Nahrávam
      </div> -->
    </div>
  </div>

  <div class="column">
    <div class="ui fluid link card" (click)="goTo('miesta')">
      <div class="center aligned content">
        <div class="blue header">
          <h3 class="ui blue header">Miesta</h3>
        </div>
        <div class="center aligned description">
          <i class="blue home massive icon"></i>
        </div>
      </div>
      <!-- <div class="ui bottom attached blue center aligned message" *ngIf="!loading && !error">
        <i class="right arrow icon"></i>
      </div>
      <div class="ui bottom attached blue center aligned message" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui blue bottom attached center aligned message" *ngIf="loading">
        Nahrávam...
      </div> -->
      <!-- <div class="ui animated bottom attached blue button" *ngIf="!loading && !error">
        <div class="visible content">
          <i class="right arrow icon"></i>
        </div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
      <div class="ui bottom attached blue button" *ngIf="error">
        <i class="exclamation triangle icon"></i>
      </div>
      <div class="ui blue bottom attached loading button" *ngIf="loading">
        Nahrávam
      </div> -->
    </div>
  </div>
</div>
