.spinner {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 8px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  animation: rotation 0.8s ease infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link.card:hover {
  background-color: #f9fafb;
}
