.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0;
}
.navbar p {
  margin-bottom: 0;
}
.nav-item {
  font-size: 2rem;
}
.bg-light {
  border: none;
  -webkit-box-shadow: 0 4px 4px -2px #999999;
  -moz-box-shadow: 0 4px 4px -2px #999999;
  box-shadow: 0 4px 4px -2px #999999;
}

.logo img {
  height: 60px;
}