/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Peralta');

// Your variable overrides go here, e.g.:
// $h1-font-size: 3rem;

.ui.segment {
  box-shadow: none;
}

.ui.celled.table tr th:last-child, .ui.celled.table tr td:last-child {
  border-left: none;
}
.ui.table tfoot th {
  font-weight: 700;
}
.ui.table tr td .icon.buttons {
  display: none;
}
.ui.table tr:hover td .icon.buttons {
  display: inline-flex;
}
.ui.table tr {
  line-height: 2.6em;
}