/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Peralta');

// Your variable overrides go here, e.g.:
// $h1-font-size: 3rem;

$font-family-sans-serif: Roboto, Calibri, Candara, Arial, sans-serif !default;
$headings-font-family:   'Peralta', cursive !default;
$font-size-base: 1rem !default;
$headings-font-weight: 300 !default;

@import "~bootswatch/dist/sketchy/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sketchy/bootswatch";

.badge-pink {
  color: #fff;
  background-color: #e83e8c;
}
.badge-purple {
  color: #fff;
  background-color: #6f42c1;
}
.badge-orange {
  color: #fff;
  background-color: #fd7e14;
}
.badge-indigo {
  color: #fff;
  background-color: #6610f2;
}
.badge-teal {
  color: #fff;
  background-color: #20c997;
}
.badge-cyan {
  color: #fff;
  background-color: #17a2b8;
}

table {
  font-size: 1.3rem;
}
table th.index {
  width: 60px;
}
table td {
  font-weight: 300;
}

.title {
  font-size: 1.2rem;
}
.add {
  font-size: .7rem;
  margin-right: 1.6rem;
  color: #212529;
  background-color: #fff;
}
.add:hover {
  color: #fff;
  background-color: #212529;
  border-color: #fff;
}