table th.titul {
  width: 100px;
}
table thead th, table thead td {
  background-color: #ffc107;
}
.add {
  color: #ffc107;
}
.add:hover {
  color: #fff;
  background-color: #ffc107;
  border-color: #fff;
}