<table class="ui yellow striped selectable celled table">
  <thead>
    <tr>
      <th class="collapsing">#</th>
      <th class="collapsing">Titul</th>
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>
        <div class="ui right floated small yellow right labeled icon button" (click)="add('veduci')">
          <i class="right graduation cap icon"></i>
          Pridať
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="center aligned text" *ngIf="veduci?.length == 0">Žiadni vedúci</td>
    </tr>
    <tr *ngFor="let vodca of veduci; let i = index" [attr.data-index]="i" class="table-light">
      <td class="collapsing">{{ (i + 1) }}</td>
      <td>{{ vodca.titul }}</td>
      <td>{{ vodca.meno }}</td>
      <td>{{ vodca.priezvisko }}</td>
      <td class="center aligned collapsing">
        <div class="ui icon buttons">
          <button class="ui yellow icon button" (click)="edit('veduci', vodca.id)"><i class="pencil icon"></i></button>
          <button class="ui yellow icon button" (click)="delete(vodca.id)"><i class="trash icon"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <th colspan="4">
      Počet: {{ veduci?.length }}
    </th>
    <th>
      <div class="ui right floated small yellow right labeled icon button" (click)="add('veduci')">
        <i class="right graduation cap icon"></i>
        Pridať
      </div>
    </th>
  </tfoot>
</table>