<table class="ui blue striped selectable celled table">
  <thead>
    <tr>
      <th class="collapsing">#</th>
      <th>Názov</th>
      <th>
        <div class="ui right floated small blue right labeled icon button" (click)="add('miesto')">
          <i class="right building icon"></i>
          Pridať
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3" class="center aligned text" *ngIf="miesta?.length == 0">Žiadne miesta</td>
    </tr>
    <tr *ngFor="let miesto of miesta; let i = index" [attr.data-index]="i" class="table-light">
      <td class="collapsing">{{ (i + 1) }}</td>
      <td>{{ miesto.nazov }}</td>
      <td class="center aligned collapsing">
        <div class="ui icon buttons">
          <button class="ui blue icon button" (click)="edit('miesto', miesto.id)"><i class="pencil icon"></i></button>
          <button class="ui blue icon button" (click)="delete(miesto.id)"><i class="trash icon"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <th colspan="2">
      Počet: {{ miesta?.length }}
    </th>
    <th>
      <div class="ui right floated small blue right labeled icon button" (click)="add('miesto')">
        <i class="right building icon"></i>
        Pridať
      </div>
    </th>
  </tfoot>
</table>