<div class="container-fluid">

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="index">#</th>
        <th scope="col">Názov</th>
        <th scope="col" class="text-right">
          <button type="button" class="add btn btn-outline" (click)="add('miesto')"><i class="fa fa-plus"></i></button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let miesto of miesta$ | async; let i = index" [attr.data-index]="i" class="table-light">
        <th scope="row">{{ (i + 1) }}</th>
        <td>{{ miesto.nazov }}</td>
        <td class="text-right">
          <button type="button" class="btn btn-outline-success mr-1" (click)="edit('miesto', miesto.id)"><i class="fa fa-pencil"></i></button>
          <button type="button" class="btn btn-outline-danger" (click)="delete(miesto.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

</div>